/* Reset styles from https://mattbrictson.com/blog/css-normalize-and-reset */

:root {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* Fonts and variables */

@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Styles */

/* * {
    outline: 1px solid red;
} */

body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: relative;
    width: 30rem;
    background-image: url("../imgs/plant-bg.jpg");
    background-size: auto 100%;
    background-position: center;
}

.logo {
    position: absolute;
    top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 8rem;
    background: #00000080;
}

.logo__img {
    max-height: 100%;
}

.logo__text {
    font-family: 'norsebold', sans-serif;
    font-size: 5rem;
    color: white;
}

.credit {
    position: absolute;
    bottom: 0px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    color: white;
}

.credit__link {
    color: white;
}


.content {
    flex: 1;
    padding: 8rem 3rem;
    background-color: rgb(231, 231, 231);
}

.big-text {
    width: 53ch;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.big-text+.big-text {
    margin-top: 2rem;
}

.form {
    margin: 4rem -3rem 2rem;
    padding: 1rem 3rem;
    background-color: white;
}

.form .big-text {
    margin-bottom: 1rem;
}

.form__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 40rem;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.input__label {
    font-size: .75rem;
    font-weight: 450;
    letter-spacing: .05rem;
    color: rgb(63, 63, 63);
}

.textbox {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 0.5rem;
}

.textbox:focus {
    outline: 2px solid blue;
    box-shadow: 3px 3px 5px rgb(74, 74, 74);
}

.button {
    margin-bottom: 2rem;
    border: none;
    border-radius: 8px;
    padding: 1rem 4rem;
    background-color: #596d48;
    font-weight: bold;
    color: #fff;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: #596d48;
}